.educationalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    align-items: center;
    padding: 0px 0px 60px 0px;
    @media (max-width: 960px) {
        padding: 0px;
    }
}


.educationWrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1350px;
    padding: 40px 0px 0px 0px;
    gap: 12px;
    @media (max-width: 960px) {
        flex-direction: column;
    }
}

.edTitle{
    font-size: 42px;
text-align: center;
font-weight: 600;
margin-top: 20px;
  color: #F2F3F4;
  @media (max-width: 768px) {
      margin-top: 12px;
      font-size: 32px;
  }
}

.EdContainer{
    width: 650px;
    border-radius: 10px;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    padding: 12px 16px;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
        transform: translateY(-5px);
    }
    @media only screen and (max-width: 768px){
        padding: 10px;
        gap: 8px;
        width: 300px;
    }

    /* &:hover ${Document}{
        display: flex;
    } */

    /* &:hover ${Span}{
        overflow: visible;
        -webkit-line-clamp: unset;

    } */
    border: 0.1px solid #854CE6;
}

.edImage{
    height: 50px;
    background-color: #000;
    border-radius: 10px;
    margin-top: 4px;
    @media only screen and (max-width: 768px){
        height: 40px;
    }
}

.edCardBody{
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.name{
    font-size: 18px;
    font-weight: 600;
    color: #d9caf1;
    @media only screen and (max-width: 768px){
        font-size: 14px;
    }
}

.degree{
    font-size: 14px;
    font-weight: 500;
    color: #AA4BAC;
    @media only screen and (max-width: 768px){
        font-size: 12px;
    }
}

.duration{
    font-size: 12px;
    font-weight: 400;
    color: #a5a5a5;
    @media only screen and (max-width: 768px){
        font-size: 10px;
    }
}

.grade{
    font-size: 14px;
    font-weight: 500;
    color: #AA4BAC;
    @media only screen and (max-width: 768px){
        font-size: 12px;
    }
}


