.projectContainer{
    width: 330px;
    height:min-content;
    background-color: #F1EFEF;
    cursor: pointer;
    border-radius: 10px;
    /* box-shadow: 0 0 12px 4px rgba(0,0,0,0.4); */
    overflow: hidden;
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    transition: all 0.5s ease-in-out;
    &:hover {
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
        transform: translateY(-5px);
        /* filter: brightness(1.1); */
    }
    /* &:hover Button {
        display: block;
    } */
}

.projectImage{
    width: 100%;
    height: 180px;
    background-color: #F1EFEF;
    border-radius: 10px;
    /* box-shadow: 0 0 16px 2px rgba(0,0,0,0.3); */
}

.tags{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 4px;
}

.tag{
    font-size:large;
    font-weight: 400;
    color: #000000;
    border: 1px solid #919191;
    padding: 2px 8px;
    border-radius: 10px;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 2px;
}

.projectTitle{
    font-size:x-large;
    font-weight: 600;
    color: #000000;
    overflow: hidden;
    display: -webkit-box;
    max-width: 100%;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projectDesc{
    font-weight:300;
    color: #000000;
    font-size: medium;
    /* overflow: hidden; */
    margin-top: 8px;
    display: -webkit-box;
    max-width: 100%;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}